/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/MeshyJobs/
/TowerMigrationBackup/
*.csproj
*.sln
*.pidb
*.userprefs
.vs/
.vscode/
*.apk
*.aab
*.tmp
